*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkmagenta;
}
.caja{
    background-color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.caja span{
    display: flex;
    gap: 0.5em;
}
input, button{
    padding: 0.3em;
}
#carrito #productos{
    display: flex;
    gap: 1em;

}
#carrito #productos .card{
    background-color: darkmagenta;
    color: white;
    padding: 0.7em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
#carrito #productos .card h1{
    font-size: 1.5em;
    border-bottom: 2px solid white;
}
#carrito #productos .card .btn{
    background-color: black;
    padding: 0.3em;
    
    cursor: pointer;

}